.search-form {
  display: flex;
  justify-content: center;
}

input {
  min-width: 25%;
  padding: 12px 20px;
  border-radius: 6px;
  border: 2px solid #002e45;
  font-size: medium;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
input:focus {
  color: #2b7994;
}
